@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        box-sizing: border-box;
        font-size: 1em;
    }

    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }

    body {
        font-family: "Red Hat Display", sans-serif;
        font-weight: 400;
    }

    h1,
    h2 {
        font-weight: 600;
    }
}